body{
  margin-left:15vw;
  margin-right:15vw;
  margin-top:15vw;
  margin-bottom:15vw;
  text-align:left;
  color:#2A2A2A;
  font-family:Verdana;
  font-weight:lightest;
  letter-spacing:0.05em;
  word-spacing:0.25em;
}

h1{
  text-align:center;
  color:#808080;
  font-size:300%;
  font-weight:lighter;
  letter-spacing:0.25em;
}

h2{
  text-align:center;
  color:#2AA8CC;
  font-weight:lighter;
  letter-spacing:-0.05em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
